{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/code_style.css' %}">
	<title>Редактор Кода</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/codemirror.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/codemirror.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/mode/javascript/javascript.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/mode/python/python.min.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>
	<script type="text/javascript" src="{% static 'script.js' %}"></script>

	<header>
		<h1>Python Interpreter</h1>
	</header>

	<div class="file_name_add">
		<form method="post">
			{% csrf_token %}
			<input type="text">
			<input type="submit" class="submit_button" value="Save" name="save_name">
		</form>
	</div>

	<div class="container">
		<div class="input_area">
			<div class="top_conteiner">main.py</div>

			<form method="post">
				{% csrf_token %}
				<textarea id="myTextarea" name="my_text_area" rows="5" cols="5">{{ text_content }}</textarea>
				
				<input type="submit" value="Run" name="run" class="submit_button">

				<input type="submit" value="save" name="save" class="submit_button">
				
			</form>
			<form method="post">
				{% csrf_token %}
				
			</form>
		</div>

		<div class="output_area">
			<div class="top_conteiner">shell</div>
			<p>{{output}}</p>
		</div>
	</div>
</body>
</html>