{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/code_style.css' %}">
	<title>Редактор Кода</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/codemirror.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/codemirror.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/mode/javascript/javascript.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/mode/python/python.min.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/cobalt.css' %}">
</head>
<body>
	<script type="text/javascript" src="{% static 'script.js' %}"></script>

	<header>
		<h1>Python Interpreter</h1>
	</header>

	



	<div class="container">
		<div class="input_area">
			


			<form method="post" class="form">
				{% csrf_token %}

				<div class="top_conteiner">
					<div class="tabs_conteiner">
						<div class="tab tab-0 active_tab">
						<div>main.py</div>
						<div class="tab_close">	&#10006;</div>
						</div>
					</div>
					
					<div class="new_file">+</div>
					<input type="submit" value="Run" name="run" class="submit_button">
				</div>

				<textarea id="myTextarea-0" class="active_tabContent" name="active_tabContent" rows="5" cols="5">{{ text_content }}</textarea>
					
				

				<div class="file_name_add">
					<input type="text" class="input_name_area" name="file_name">
					<input type="submit" class="submit_button" value="Save" name="save">
				</div>
			</form>

			<button class="submit_button save_button">Save</button>

			

		</div>

		<div class="output_area">
			<div class="top_conteiner">shell</div>
			<p>{{output}}</p>
		</div>
	</div>
</body>
</html>