{% extends 'base.html' %}
{% block main %}
{{time}}


<div class="conteiner">
	<div class="task_menu">
		<a href="/add_task">Добавить задачу</a>
		<a href="/code/default_code">Редактор кода</a>
	</div>
		
	<div class="tasks">
		<div class="tasks_header"></div>
		<div class="tasks_content">
			{% for i in data %}
				<div class="code_file">
					<div class="file_name">{{i.name}}</div>
					<div class="buttons_conteiner">
						<a class="tasks_content_button" href="/delete_task/{{ i.id }}"> Удалить файл </a>
						<a class="tasks_content_button" href="/code/{{ i.id }}">Запустить код</a>
					</div>
					<br>
				</div>
				
				
			{% endfor%}
		</div>
		
	</div>
</div>







{% endblock main %}