{% extends 'base.html' %}
{% block main %}
{{time}}


<div class="conteiner">
	<div class="task_menu">
		<a href="/add_task">Добавить задачу</a>
		<a href="/code/{{ga}}">Редактор кода</a>
	</div>
		
	<div class="tasks">
		<div class="tasks_header"></div>
		<div class="tasks_content">
			{% for i in data %}
				{{i.name}}
				<a class="tasks_content_button" href="/delete_task/{{ i.id }}"> Удалить задачу </a>
				<a class="tasks_content_button" href="/code/{{ i.define}}">Запустить код</a>
				<br>
			{% endfor%}
		</div>
		
	</div>
</div>







{% endblock main %}